{% extends 'base.html' %}
{% load static %}

{% block custom_css %} 
<link href="{% static 'css/jsonTree.css' %}" rel="stylesheet" />
{% endblock custom_css %}

{% block  content %}
<div class="container">
  <h1 class="my-3">Users</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5" class="text-center">No Users</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example" class="d-flex">
    <ul class="ms-auto pagination">
    </ul>
  </nav>

  <div class="my-3 flex">
    <button class="btn btn-primary" id="btn-get"> GET </button>
    <button class="btn btn-warning" id="btn-post"> POST </button>
    <button class="btn btn-secondary" id="btn-put"> PUT </button>
    <button class="btn btn-danger" id="btn-delete"> DELETE </button>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="d-flex">
        <h4>Request: </h4>
        <button class="btn btn-primary ms-auto" id="btn-submit">Submit</button>
      </div>

      <div class="border border-2 border-dark my-3" style="height: 300px;" id="input-request">
        <div class="m-3">
          <div id="status" class="fw-bold">METHOD NOT SELECTED</div>
          <div id="get-content">
            <div class="row my-2">
              <div class="col-4">
                <label> USER ID:</label>
              </div>
              <div class="col-8">
                <input id="userid" placeholder="USERID" type="number" />
              </div>
            </div>
          </div>
          <div id="post-content">
            <div class="row my-2">
              <div class="col-4">
                <label> USERNAME:</label>
              </div>
              <div class="col-8">
                <input id="username" placeholder="USERNAME"/>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-4">
                <label> EMAIL:</label>
              </div>
              <div class="col-8">
                <input id="email" placeholder="EMAIL"/>
              </div>
            </div>
            <div class="row my-2">
              <div class="col-4">
                <label> FIRST NAME:</label>
              </div>
              <div class="col-8">
                <input id="firstname" placeholder="FIRST NAME" />
              </div>
            </div>
            <div class="row my-2">
              <div class="col-4">
                <label> LAST NAME:</label>
              </div>
              <div class="col-8">
                <input id="lastname" placeholder="LAST NAME" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="d-flex">
        <h4>Response: </h4>
        <button class="btn btn-primary invisible">123</button>
      </div>
      <div class="border border-2 border-dark my-3 p-3" style="height: 300px;" id="input-response">
      </div>
    </div>
  </div>
  <div class="modal" id="confirm-modal" tabindex="-1" aria-labelledby="confirm-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirm-modal-label">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this item?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancel-delete-button">Cancel</button>
          <button type="button" class="btn btn-danger" id="confirm-delete-button">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block custom_js %}
  <script src="{% static 'js/jsonTree.js' %}"></script>
  <script src="{% static 'js/home.js' %}"></script>
{% endblock custom_js %}