{% extends 'base.html' %}
{% load static %}


{% block  content %}
<div class="container">
  <h1 class="my-3">Request Logs</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">method</th>
        <th scope="col">path</th>
        <th scope="col">remote_address</th>
        <th scope="col">timestamp</th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
        <tr>
          <td>{{ log.id }}</td>
          <td>{{ log.method }}</td>
          <td>{{ log.path }}</td>
          <td>{{ log.remote_address }}</td>
          <td>{{ log.timestamp }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="Page navigation example" class="d-flex">
    <ul class="ms-auto pagination">
      <li class="page-item">
        <a class="page-link {% if not logs.has_previous %} disabled {% endif %}" href="{% url 'logs' %}?page={{ logs.number|add:-1 }}&page_size={{ paginator.per_page }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% for page in paginator.page_range %}
        <li class="page-item {% if logs.number == page %}active{% endif %}"><a class="page-link" href="{% url 'logs' %}?page={{page}}&page_size={{ paginator.per_page }}">{{ page }}</a></li>
      {% endfor %}
      <li class="page-item">
        <a class="page-link {% if not logs.has_next %} disabled {% endif %}" href="{% url 'logs' %}?page={{ logs.number|add:1 }}&page_size={{ paginator.per_page }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock content %}
